body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

div.board-row {
  display: flex;
  padding: 0;
  justify-content: left;
}

.square {
  background: #fff;
  border: 1px solid grey;
  /* flex-grow: 1; */
  aspect-ratio: 1;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board {
  background-color: white;
}

.gridtitle {
  background-color: aliceblue;
  text-align: center;
}

.sliders {
  background-color: burlywood;
  padding: 10px;
}

.height {
  width: 1px;
}

.map {
  height: 350px;
  width: 100%;
}

.download-container {
  background-color: aliceblue;
  padding: 10px;
}

.obstacle {
  padding-right: 10px;
}

@media (min-width: 768px) {
  .square {
    max-width: 100px;
  }
}
